.cart-container {
  .cart-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: $blackColour;
    opacity: 0.6;
  }

  .cart-modal {
    position: fixed;
    right: 0;
    top: 0;
    width: 500px;
    height: 100vh;
    background-color: $greyColour;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    @include fCenter(column);
    justify-content: flex-start;
    padding: 40px;
    overflow: auto;
    // box-shadow: 1px 1px 3px $blackColour;
    animation: slide-in 0.4s ease-in-out;

    .cart-back-btn {
      position: absolute;
      top: 10px;
      left: 10px;
      height: 25px;
      width: auto;
      cursor: pointer;
      transition: opacity 0.2s ease-in-out;
    }

    .empty-cart-msg {
      height: 100%;
      width: 100%;
      @include fCenter(column);
      gap: 40px;
    }

    .cart-item {
      border: 1px solid $blackColour;
      width: 100%;
      margin: 20px 0;
      padding: 5px 10px;
      @include fCenter();
      justify-content: space-between;
      gap: 20px;
      text-align: center;

      .cart-product-img {
        max-height: 80px;
        max-width: 80px;
      }

      .product-quantity-bar {
        img {
          height: 15px;
          width: auto;
        }
      }
    }
  }
}

@keyframes slide-in {
  0% {
    right: -400px;
  }

  100% {
    right: 0;
  }
}
