.checkout-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 40px;
  background-color: #fff;
  @include fCenter(column);

  .checkout-back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 25px;
    width: auto;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
  }

  h1 {
    margin-bottom: 20px;
  }

  .checkout-area {
    border: 3px solid $blackColour;
    border-radius: 8px;
    padding: 20px;
    @include fCenter(column);

    .checkout-item {
      min-width: 120px;
      @include fCenter();
      gap: 40px;
      border-bottom: 1px solid $greyColour;
      margin-bottom: 10px;

      .checkout-img-container {
        img {
          max-height: 120px;
          max-width: 120px;
        }
      }
    }

    .checkout-subtotal-area {
      @include fCenter();
      justify-content: flex-end;
      gap: 80px;
      width: 100%;
    }

    .checkout-proceed-btn {
      padding: 10px 50px;
      margin-top: 20px;
      background-color: $blackColour;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: opacity 0.4s ease-in-out;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 1;
      }
    }
  }
}
