.header {
  @include fCenter();
  justify-content: space-between;
  height: $headerHeight;
  padding: 10px 40px;
  background-color: $greyColour;

  .title-area {
    @include fCenter();
    align-items: baseline;
    gap: 50px;
  }

  img {
    height: 20px;
    width: auto;
  }

  .header-title {
    color: $blackColour;
    font-family: $titleFont;
    font-size: 54px;
  }

  .signed-in-links {
    @include fCenter();
    gap: 50px;
  }

  .header-link {
    @include fCenter();
    gap: 5px;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
    position: relative;

    .cart-counter {
      position: absolute;
      // top: -10px;
      left: -20px;
      background-color: red;
      color: white;
      padding: 1px 5px;
      border-radius: 50%;
      font-size: 12px;
    }

    &:hover {
      opacity: 0.7;
      transform: scale(1.01);
    }

    &:active {
      opacity: 1;
    }
  }
}
