.navbar {
  @include fCenter();
  list-style: none;
  gap: 30px;
  height: $navbarHeight;
  font-weight: bolder;

  .filter-link {
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
