.product-card {
  height: 400px;
  width: 350px;
  border: 1px solid $blackColour;
  box-shadow: 0.5px 0.5px 0.5px $greyColour;
  transition: background-color 0.4s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: $greyColour;
  }

  .card-img-area {
    height: 70%;
    @include fCenter();
    background-color: #fff;

    img {
      max-width: 298px;
      height: auto;
    }
  }

  .card-info-area {
    padding: 20px;
    background-color: transparent;
  }
}
