.sort-by-bar-container {
  width: 100vw;
  @include fCenter();
}

.shop-container {
  margin: 40px 0;
  @include fCenter();
  flex-wrap: wrap;
  gap: 40px;

  .shop-loading-container {
    @include fCenter();
    height: 20vh;

    .loading-icon {
      height: 30px;
      width: auto;
      animation: loading-rotate 2s infinite;
    }
  }
}

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
