@import './styles/Fonts';
@import './styles/Variables';
@import './styles/Mixins';

@import './styles/Header';
@import './styles/Navbar';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $bodyFont;
}
