@import './styles/Fonts';
@import './styles/Variables';
@import './styles/Mixins';

@import './styles/Header';
@import './styles/Navbar';
@import './styles/Home';
@import './styles/Shop';
@import './styles/Footer';
@import './styles/PageNotFound';

@import './styles/ProductPage';
@import './styles/ProductCard';
@import './styles/CartModal';

@import './styles/AdminPanelBtn';
@import './styles/AdminPanel';

@import './styles/WarningModal';
@import './styles/CentralLoadingIcon';

@import './styles/MediaQueries';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $bodyFont;
  color: $blackColour;
}

.link {
  text-decoration: none;
}
