@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  padding: 10px 40px;
  background-color: #eee;
}
.header .title-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: baseline;
  gap: 50px;
}
.header img {
  height: 20px;
  width: auto;
}
.header .header-title {
  color: #111;
  font-family: "ZCOOL XiaoWei", serif;
  font-size: 54px;
}
.header .signed-in-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.header .header-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: scale 0.2s ease-in-out;
}
.header .header-link:hover {
  opacity: 0.7;
  transform: scale(1.01);
}
.header .header-link:active {
  opacity: 1;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
  height: 5vh;
  font-weight: bolder;
}
.navbar li {
  cursor: pointer;
}
.navbar li:hover {
  text-decoration: underline;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 40px 0;
}
.home-container .suggested-area {
  height: 40vh;
  width: 70vw;
  transform: skewX(-5deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home-container .suggested-area.budget-items {
  transform: skewX(5deg);
}
.home-container .suggested-area .suggested-img-area {
  width: 70%;
  height: 100%;
  border: 1px solid #111;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.home-container .suggested-area .suggested-text-area {
  width: 30%;
  height: 100%;
  border: 1px solid #111;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 52px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  text-align: center;
}
.home-container .suggested-area .suggested-text-area:hover {
  background-color: #111;
  color: white;
}

.shop-container {
  height: 80vh;
}

.footer {
  background-color: #eee;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer .social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer .social-links img {
  height: 20px;
  width: auto;
  cursor: pointer;
}
.footer .social-links img:hover {
  opacity: 0.7;
  transform: scale(1.01);
}
.footer .social-links img:active {
  opacity: 1;
}

#admin-panel-btn {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: rgb(189, 189, 255);
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #111;
  transition: all 0.4s ease-in-out;
}
#admin-panel-btn:hover {
  transform: rotate(90deg);
}

.admin-panel-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #111;
  opacity: 0.6;
}

.admin-panel {
  position: absolute;
  right: calc(50% - 200px);
  top: 50px;
  width: 400px;
  height: 700px;
  background-color: rgb(189, 189, 255);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  overflow: auto;
  -webkit-animation: slide-in 0.4s ease-in-out;
          animation: slide-in 0.4s ease-in-out;
}
.admin-panel .panel-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.admin-panel .panel-btn:hover {
  opacity: 0.7;
}
.admin-panel .panel-btn:active {
  opacity: 1;
}
.admin-panel .back-btn {
  left: 5px;
}
.admin-panel h2 {
  margin-top: 40px;
}
.admin-panel button {
  border: 1px solid #111;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
  transition: opacity 0.2s ease-in-out;
  box-shadow: 0.5px 0.5px 0.5px #111;
}
.admin-panel button:hover {
  opacity: 0.7;
}
.admin-panel button:active {
  opacity: 1;
}

@-webkit-keyframes slide-in {
  0% {
    right: -400px;
  }
  100% {
    right: calc(50% - 200px);
  }
}

@keyframes slide-in {
  0% {
    right: -400px;
  }
  100% {
    right: calc(50% - 200px);
  }
}
.admin-panel-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 90%;
}
.admin-panel-form input,
.admin-panel-form select,
.admin-panel-form fieldset,
.admin-panel-form textarea {
  width: 100%;
  padding: 10px;
}
.admin-panel-form fieldset {
  color: #111;
  border: 2px solid #111;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
  color: #111;
}

.link {
  text-decoration: none;
}/*# sourceMappingURL=App.css.map */