@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  padding: 10px 40px;
  background-color: #eee;
}
.header .title-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: baseline;
  gap: 50px;
}
.header img {
  height: 20px;
  width: auto;
}
.header .header-title {
  color: #111;
  font-family: "ZCOOL XiaoWei", serif;
  font-size: 54px;
}
.header .signed-in-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.header .header-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: scale 0.2s ease-in-out;
}
.header .header-link:hover {
  opacity: 0.7;
  transform: scale(1.01);
}
.header .header-link:active {
  opacity: 1;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
  height: 5vh;
  font-weight: bolder;
}
.navbar .filter-link {
  text-decoration: none;
  cursor: pointer;
}
.navbar .filter-link:hover {
  text-decoration: underline;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 40px 0;
}
.home-container .suggested-area-link {
  text-decoration: none;
}
.home-container .suggested-area {
  height: 40vh;
  width: 70vw;
  transform: skewX(-5deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home-container .suggested-area.budget-items {
  transform: skewX(5deg);
}
.home-container .suggested-area .suggested-img-area {
  width: 70%;
  height: 100%;
  border: 1px solid #111;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.home-container .suggested-area .suggested-text-area {
  width: 30%;
  height: 100%;
  border: 1px solid #111;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 52px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  text-align: center;
}
.home-container .suggested-area .suggested-text-area:hover {
  background-color: #111;
  color: white;
}

.shop-container {
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.footer {
  background-color: #eee;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer .social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer .social-links img {
  height: 20px;
  width: auto;
  cursor: pointer;
}
.footer .social-links img:hover {
  opacity: 0.7;
  transform: scale(1.01);
}
.footer .social-links img:active {
  opacity: 1;
}

.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
}
.page-not-found img {
  height: 60px;
  width: auto;
}

.product-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100vw;
  gap: 40px;
}
.product-page-container .product-page-info {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 20px;
}
.product-page-container .product-page-info img {
  height: 40px;
  width: auto;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out, transform 0.1s ease-in-out;
}
.product-page-container .product-page-info img:hover {
  opacity: 0.8;
}
.product-page-container .product-page-info img:active {
  transform: scale(0.95);
}
.product-page-container .product-page-info .product-page-tags span {
  font-size: 12px;
  padding-right: 10px;
}
.product-page-container .product-page-img {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.product-page-container .product-page-img img {
  max-height: 50vh;
  max-width: 30vw;
}

.product-card {
  height: 400px;
  width: 350px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0.5px 0.5px 0.5px #eee;
  transition: background-color 0.4s ease-in-out, transform 0.2s ease-in-out, border 0.2s ease-in-out;
}
.product-card:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: #eee;
  border: 2px solid #ddd;
}
.product-card .card-img-area {
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.product-card .card-img-area img {
  max-width: 300px;
  max-height: 260px;
  height: auto;
}
.product-card .card-info-area {
  height: 30%;
  padding: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}

.product-card-link {
  text-decoration: none;
}

#admin-panel-btn {
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}
#admin-panel-btn:hover {
  transform: rotate(90deg);
}

.admin-panel-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #111;
  opacity: 0.6;
}

.admin-panel {
  position: absolute;
  right: calc(50% - 200px);
  top: 50px;
  width: 400px;
  height: 700px;
  background-color: rgb(189, 189, 255);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  overflow: auto;
  box-shadow: 1px 1px 3px #111;
  -webkit-animation: slide-in 0.4s ease-in-out;
          animation: slide-in 0.4s ease-in-out;
}
.admin-panel .panel-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.admin-panel .panel-btn:hover {
  opacity: 0.7;
}
.admin-panel .panel-btn:active {
  opacity: 1;
}
.admin-panel .back-btn {
  left: 10px;
  height: 25px;
  width: auto;
}
.admin-panel h1 {
  margin-bottom: 20px;
}
.admin-panel h2 {
  margin-top: 20px;
}
.admin-panel p {
  margin: 10px;
}
.admin-panel .admin-confirm-msg {
  text-align: center;
}
.admin-panel .success-icon {
  margin-top: 40px;
  -webkit-animation: pulse 1s infinite ease-in-out;
          animation: pulse 1s infinite ease-in-out;
}
.admin-panel button {
  border: 1px solid #111;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
  transition: opacity 0.2s ease-in-out;
  box-shadow: 0.5px 0.5px 0.5px #111;
}
.admin-panel button:hover {
  opacity: 0.7;
}
.admin-panel button:active {
  opacity: 1;
}

.admin-panel-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 90%;
}
.admin-panel-form input,
.admin-panel-form select,
.admin-panel-form fieldset,
.admin-panel-form textarea {
  width: 100%;
  padding: 10px;
}
.admin-panel-form fieldset {
  color: #111;
  border: 2px solid #111;
}

@-webkit-keyframes slide-in {
  0% {
    right: -400px;
  }
  100% {
    right: calc(50% - 200px);
  }
}

@keyframes slide-in {
  0% {
    right: -400px;
  }
  100% {
    right: calc(50% - 200px);
  }
}
@-webkit-keyframes pulse {
  33% {
    transform: scale(0.9);
  }
  66% {
    transform: scale(1.1);
  }
}
@keyframes pulse {
  33% {
    transform: scale(0.9);
  }
  66% {
    transform: scale(1.1);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
  color: #111;
}

.link {
  text-decoration: none;
}/*# sourceMappingURL=App.css.map */