@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  padding: 10px 40px;
  background-color: #eee;
  flex-wrap: wrap;
}
.header .title-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: baseline;
  gap: 50px;
}
.header img {
  height: 20px;
  width: auto;
}
.header .header-title {
  color: #111;
  font-family: "ZCOOL XiaoWei", serif;
  font-size: 54px;
}
.header .signed-in-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.header .header-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: scale 0.2s ease-in-out;
  position: relative;
}
.header .header-link .cart-counter {
  position: absolute;
  left: -20px;
  background-color: red;
  color: white;
  padding: 1px 5px;
  border-radius: 50%;
  font-size: 12px;
}
.header .header-link:hover {
  opacity: 0.7;
  transform: scale(1.01);
}
.header .header-link:active {
  opacity: 1;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  height: 5vh;
  font-weight: bolder;
}
.navbar .filter-link {
  text-decoration: none;
  cursor: pointer;
}
.navbar .filter-link:hover {
  text-decoration: underline;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 40px 0;
}
.home-container .suggested-area-link {
  text-decoration: none;
}
.home-container .suggested-area {
  height: 40vh;
  width: 70vw;
  transform: skewX(-5deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home-container .suggested-area.budget-items {
  transform: skewX(5deg);
}
.home-container .suggested-area .suggested-img-area {
  width: 70%;
  height: 100%;
  border: 1px solid #111;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  contain: content;
}
.home-container .suggested-area .suggested-img-area .hot-slideshow-img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  animation: slow-zoom 5s alternate-reverse infinite;
}
.home-container .suggested-area .suggested-img-area .budget-slideshow-img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  animation: slow-zoom 4s alternate-reverse infinite;
}
.home-container .suggested-area .suggested-img-area .all-slideshow-img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  animation: slow-zoom 4.5s alternate-reverse infinite;
}
.home-container .suggested-area .suggested-img-area .loading-icon {
  position: absolute;
  top: calc(50% - 15px);
  right: calc(50% - 15px);
  height: 30px;
  width: auto;
  margin: auto;
  -webkit-animation: loading-rotate 2s infinite;
          animation: loading-rotate 2s infinite;
}
.home-container .suggested-area .suggested-text-area {
  width: 30%;
  height: 100%;
  border: 1px solid #111;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 52px;
  cursor: pointer;
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
  text-align: center;
}
.home-container .suggested-area .suggested-text-area:hover {
  background-color: #111;
  color: white;
}

@-webkit-keyframes slow-zoom {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes slow-zoom {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-webkit-keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.sort-by-bar-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.shop-container {
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.shop-container .shop-loading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.shop-container .shop-loading-container .loading-icon {
  height: 30px;
  width: auto;
  -webkit-animation: loading-rotate 2s infinite;
          animation: loading-rotate 2s infinite;
}

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  background-color: #eee;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer .social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer .social-links img {
  height: 20px;
  width: auto;
  cursor: pointer;
}
.footer .social-links img:hover {
  opacity: 0.7;
  transform: scale(1.01);
}
.footer .social-links img:active {
  opacity: 1;
}

.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
}
.page-not-found img {
  height: 60px;
  width: auto;
}

.product-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  width: 100vw;
  gap: 40px;
}
.product-page-container .product-page-info {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 20px;
}
.product-page-container .product-page-info img {
  height: 40px;
  width: auto;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out, transform 0.1s ease-in-out;
}
.product-page-container .product-page-info img:hover {
  opacity: 0.8;
}
.product-page-container .product-page-info img:active {
  transform: scale(0.95);
}
.product-page-container .product-page-info .product-page-tags span {
  font-size: 12px;
  padding-right: 10px;
}
.product-page-container .product-page-img {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.product-page-container .product-page-img img {
  max-height: 50vh;
  max-width: 30vw;
}

.product-page-back-btn {
  position: absolute;
  top: calc(50% - 20px);
  padding: 10px 50px;
}
.product-page-back-btn img {
  height: 40px;
  width: auto;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out, transform 0.1s ease-in-out;
}
.product-page-back-btn img:hover {
  opacity: 0.8;
}
.product-page-back-btn img:active {
  transform: scale(0.95);
}

.product-loading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.product-loading-container .loading-icon {
  height: 30px;
  width: auto;
  -webkit-animation: loading-rotate 2s infinite;
          animation: loading-rotate 2s infinite;
}

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.product-quantity-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.product-quantity-bar img {
  height: 20px;
  width: auto;
  cursor: pointer;
}

.product-card {
  height: 400px;
  width: 350px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0.5px 0.5px 0.5px #eee;
  transition: background-color 0.4s ease-in-out, transform 0.2s ease-in-out, border 0.2s ease-in-out;
}
.product-card:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: #eee;
  border: 2px solid #ddd;
}
.product-card .card-img-area {
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.product-card .card-img-area img {
  max-width: 300px;
  max-height: 260px;
  height: auto;
}
.product-card .card-info-area {
  height: 30%;
  padding: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}

.product-card-link {
  text-decoration: none;
}

.cart-container .cart-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #111;
  opacity: 0.6;
}
.cart-container .cart-modal {
  position: fixed;
  right: 0;
  top: 0;
  width: 500px;
  height: 100vh;
  background-color: #eee;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  overflow: auto;
  -webkit-animation: slide-in 0.4s ease-in-out;
          animation: slide-in 0.4s ease-in-out;
}
.cart-container .cart-modal .cart-back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 25px;
  width: auto;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.cart-container .cart-modal h1 {
  margin-bottom: 20px;
}
.cart-container .cart-modal .empty-cart-msg {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.cart-container .cart-modal .cart-item {
  border: 1px solid #111;
  height: 100px;
  width: 100%;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}
.cart-container .cart-modal .cart-item .cart-product-img-container {
  min-width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cart-container .cart-modal .cart-item .cart-product-img-container .cart-product-img {
  max-height: 80px;
  max-width: 80px;
}
.cart-container .cart-modal .cart-item .cart-product-info p {
  font-weight: bold;
}
.cart-container .cart-modal .cart-item .cart-product-info .product-quantity-bar img {
  height: 15px;
  width: auto;
}
.cart-container .cart-modal .cart-item .cart-product-info .product-quantity-bar p {
  font-size: 14px;
  font-weight: normal;
}
.cart-container .cart-modal .cart-item .cart-product-info .cart-product-subtotal {
  min-width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cart-container .cart-modal .checkout-btn {
  padding: 10px 50px;
  margin-top: 20px;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
}
.cart-container .cart-modal .checkout-btn:hover {
  opacity: 0.8;
}
.cart-container .cart-modal .checkout-btn:active {
  opacity: 1;
}
.cart-container .cart-modal .cart-subtotal-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 30px;
}

@-webkit-keyframes slide-in {
  0% {
    right: -400px;
  }
  100% {
    right: 0;
  }
}

@keyframes slide-in {
  0% {
    right: -400px;
  }
  100% {
    right: 0;
  }
}
#admin-panel-btn {
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}
#admin-panel-btn:hover {
  transform: rotate(90deg);
}

.admin-panel-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #111;
  opacity: 0.6;
}

.admin-panel {
  position: fixed;
  right: calc(50% - 200px);
  top: 50px;
  width: 400px;
  height: 700px;
  background-color: rgb(189, 189, 255);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  overflow: auto;
  box-shadow: 1px 1px 3px #111;
  -webkit-animation: slide-in 0.4s ease-in-out;
          animation: slide-in 0.4s ease-in-out;
}
.admin-panel .panel-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.admin-panel .panel-btn:hover {
  opacity: 0.7;
}
.admin-panel .panel-btn:active {
  opacity: 1;
}
.admin-panel .back-btn {
  left: 10px;
  height: 25px;
  width: auto;
}
.admin-panel h1 {
  margin-bottom: 20px;
}
.admin-panel h2 {
  margin-top: 20px;
}
.admin-panel p {
  margin: 10px;
}
.admin-panel .admin-confirm-msg {
  text-align: center;
}
.admin-panel .success-icon {
  margin-top: 40px;
  -webkit-animation: pulse 1s infinite ease-in-out;
          animation: pulse 1s infinite ease-in-out;
}
.admin-panel button {
  border: 1px solid #111;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
  transition: opacity 0.2s ease-in-out;
  box-shadow: 0.5px 0.5px 0.5px #111;
}
.admin-panel button:hover {
  opacity: 0.7;
}
.admin-panel button:active {
  opacity: 1;
}

.admin-panel-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 90%;
}
.admin-panel-form input,
.admin-panel-form select,
.admin-panel-form fieldset,
.admin-panel-form textarea {
  width: 100%;
  padding: 10px;
}
.admin-panel-form fieldset {
  color: #111;
  border: 2px solid #111;
}

@keyframes slide-in {
  0% {
    right: -400px;
  }
  100% {
    right: calc(50% - 200px);
  }
}
@-webkit-keyframes pulse {
  33% {
    transform: scale(0.9);
  }
  66% {
    transform: scale(1.1);
  }
}
@keyframes pulse {
  33% {
    transform: scale(0.9);
  }
  66% {
    transform: scale(1.1);
  }
}
.warning-modal {
  position: fixed;
  bottom: 0;
  right: 25px;
  width: 350px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #111;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-animation: slide-in 0.4s ease-in-out;
          animation: slide-in 0.4s ease-in-out;
  opacity: 0.9;
  padding: 20px;
}
.warning-modal .warning-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}
.warning-modal .warning-header .warning-img {
  height: 35px;
  width: auto;
}
.warning-modal .close-warning-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: auto;
  transition: opacity 0.2s ease-in-out, transform 0.1s ease-in-out;
}
.warning-modal .close-warning-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.warning-modal .close-warning-btn:active {
  transform: scale(0.95);
}

@keyframes slide-in {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0;
  }
}
.central-loading-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.6;
  z-index: 10;
}
.central-loading-backdrop .central-loading-icon {
  position: fixed;
  top: calc(50vh - 20px);
  left: calc(50vw - 20px);
  height: 40px;
  width: 40px;
  -webkit-animation: loading-rotate 2s infinite;
          animation: loading-rotate 2s infinite;
  z-index: 11;
}

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 850px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    padding: 10px;
  }
  .header .signed-in-links {
    gap: 40px;
  }
  .navbar {
    margin: 5px 20px;
    height: 10vh;
  }
  .suggested-area-link .suggested-area {
    width: 80vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: skewX(0deg);
  }
  .suggested-area-link .suggested-area.budget-items {
    transform: skewX(0deg);
  }
  .suggested-area-link .suggested-area .suggested-img-area {
    min-height: 30vh;
    max-height: 30vh;
    width: 80vw;
    border: 1px solid #111;
    border-radius: 0;
  }
  .suggested-area-link .suggested-area .suggested-text-area {
    min-height: 10vh;
    max-height: 10vh;
    width: 80vw;
    border: 1px solid #111;
    border-radius: 0;
  }
  .product-page-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .product-page-container .product-page-img {
    width: 80vw;
  }
  .product-page-container .product-page-img img {
    max-width: 80vw;
  }
  .product-page-container .product-page-info {
    width: 80vw;
  }
  .product-page-back-btn {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .admin-panel {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
  }
  .cart-container .cart-modal {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
  color: #111;
}

.link {
  text-decoration: none;
}/*# sourceMappingURL=App.css.map */